<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="public/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DTF</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
</head>

<body>
    <section id="first">
        <div id="header">
            <h1>Down To Fight</h1>
        </div>
        <p>Has anyone really been far even as decided to use even go want to do look more like? &nbsp;<a
                href="/events">Check
                out what's happening now!</a></p>
    </section>
    <div id="wrapper">
        {{{body}}}
    </div>
</body>

</html>