<form action="/event" method="POST">
    <input type="text" name="name" placeholder="name" required><br />
    <input type="text" name="event" placeholder="event" required><br />
    <input type="text" name="description" placeholder="description" required><br />
    <input type="submit" name="submit">
</form>