<div id="mapid"></div>
<div id="side">
    <form action="/event" method="POST" id="events">
        <input type="text" name="name" placeholder="name" required><br />

        <select name="event" id="event" required><br />
            <option value="fight">Fight</option>
            <option value="fuck">Fuck</option>
            <option value="drink">Drink</option>
            <option value="basketball">Basketball Pickup</option>
            <option value="tickle">Tickle</option>
        </select>
        <input type="description" name="description" placeholder="description" required><br />
        <input type="number" name="lat" id="lat" placeholder="latitude" required><br />
        <input type="number" name="long" id="long" placeholder="longitude" required><br />
        <input type="submit" name="submit">
    </form>
    <button id="comeHere" onclick="comeHere()">
        Set as My Current Location
    </button>
</div>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>

<script>

    //sets map default view to Honolulu,Hawaii
    var mymap = L.map('mapid').setView([21.2968981, -157.8566376], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    //function to have a pin drop when map is clicked, sets latitude and longitude to variables for later use 
    var popup = L.popup();
    function onMapClick(e) {
        popup.setLatLng(e.latlng).setContent("Fight Here " + e.latlng.toString()).openOn(mymap);

        let coords = e.latlng.toString();
        let splitMe = coords.split("(");
        console.log(splitMe[1])
        let latter = Number(splitMe[1].split(",")[0])
        let longer = splitMe[1].split(",")[1].substring(1).slice(0, -1)
        let latitude = document.getElementById("lat");
        let longitude = document.getElementById("long")
        latitude.value = latter;
        longitude.value = longer

    }
    mymap.on('click', onMapClick);


    //allows client to drop a current location pin, sets latitude and longitude to variables for later use.
    function comeHere() {
        if ("geolocation" in navigator) {
            console.log("sending gps");
            navigator.geolocation.getCurrentPosition(function (position) {
                //   sendIt(position.coords.latitude, position.coords.longitude);
                if (position) {
                    console.log(position)
                }
                console.log(position.coords.latitude, position.coords.longitude);
                L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);
                let latitude = document.getElementById("lat");
                let longitude = document.getElementById('long')
                latitude.value = position.coords.latitude;
                longitude.value = position.coords.longitude;

            });
        } else {
            console.log("you suck");
        }
    }
</script>