<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>

<div id="mapid"></div>

<script>
  var mymap = L.map('mapid').setView([21.2968981, -157.8566376], 13);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(mymap);
</script>
<div id="side">
  <div id="chat">
    <p class="chat"><b>weedluvr420</b>: ay fuk u @kittydestroyah45</p>
    <p class="chat"><b>360noscope6969</b>: lololololol</p>
    <p class="chat"><b>F1GHTCLU8KW33N</b>: comen getit fahkas</p>
    <p class="chat"><b>t0ughGURL</b>: lets go! im ready ur scurd</p>
    <p class="chat"><b>j0hnnyBrav0</b>: yah knw ya want it</p>
    <p class="chat"><b>P0w3rPoofGal</b>: where n whenn</p>
    <p class="chat"><b>r0nm0n</b>: lets meet @urMOMS</p>
    <p class="chat"><b>slyth3r1n</b>: curses!! blast y00s</p>
    <p class="chat"><b>grandMAsBoi</b>: ya'll gonna learn</p>
    <p class="chat"><b>tw3rk1T</b>: yous cant handle dis</p>
    <p class="chat"><b>k1LLB1LL</b>: lmk ill b there</p>
  </div>
  <div id="formdiv">
    <form id="form">
      <input name="msg" id="msg" type="text" />
      <input type="submit" />
      <button id='location' onclick="locator()">location</button>
    </form>
  </div>
</div>


<script>
  let lat = 21.2968981;
  let long = -157.8566376
  function locator() {
    if ("geolocation" in navigator) {
      console.log("sending gps");
      navigator.geolocation.getCurrentPosition(function (position) {
        //   sendIt(position.coords.latitude, position.coords.longitude);
        if (position) {
          console.log(position)
        }
        console.log(position.coords.latitude, position.coords.longitude);
        L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);

      });
    } else {
      console.log("you suck");
    }
  }
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:8080');
  socket.on("news", function (data) {
    const chat = document.getElementById("chat");
    const message = document.createElement("p");
    message.innerHTML = data;
    chat.appendChild(message);
  });

  const form = document.getElementById("form");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    const msg = e.target[0].value;
    socket.emit("fromClient", msg);
  });
</script>

<script>

</script>