<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>

<div id="mapid"></div>

<script>
  var mymap = L.map('mapid').setView([21.2968981, -157.8566376], 13);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(mymap);
</script>

<div id="chat"></div>
<div id="formdiv">
  <form id="form">
    <input name="msg" id="msg" type="text" />
    <input type="submit" />
    <button id='location' onclick="locator()">location</button>
  </form>
</div>

<script>
  let lat = 21.2968981;
  let long = -157.8566376
  function locator() {
    if ("geolocation" in navigator) {
      console.log("sending gps");
      navigator.geolocation.getCurrentPosition(function (position) {
        //   sendIt(position.coords.latitude, position.coords.longitude);
        if (position) {
          console.log(position)
        }
        console.log(position.coords.latitude, position.coords.longitude);
        L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);

      });
    } else {
      console.log("you suck");
    }
  }
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:8080');
  socket.on("news", function (data) {
    console.log("news channel", data);
    const chat = document.getElementById("chat");
    const message = document.createElement("div");
    message.innerHTML = data;
    chat.appendChild(message);
  });

  const form = document.getElementById("form");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    const msg = e.target[0].value;
    socket.emit("fromClient", msg);
  });
</script>